<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Agents do Brasil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/edita-perfil.css">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/editprofile.js"></script>
</head>
<body>
    <section>
        <header>
            <a href="./index.html" ><img src="../assets/img/logo.png" class="logo"></a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./lista-cards.html">Jogadores</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./cadastro.html">Cadastre-se</a></li>
                <li><a href="./edita-perfil.html">Editar Perfil</a></li>
            </ul>
        </header>

        <div class="container-xl px-4 mt-4" >
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Foto de Perfil</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <img class="img-account-profile rounded-circle mb-2" id="TEST" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="">
                            <!-- Profile picture help block-->
                            <div class="small font-italic text-muted mb-4">JPG ou PNG de até 5 MB</div>
                            <!-- Profile picture upload button-->
                            <button class="btn2" type="button">Upload</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Detalhes do Perfil</div>
                        <div class="card-body">
                            <form>
                                 <!-- Form Group (username)-->
                                 <div class="mb-3">
                                    <label class="small mb-1" for="email">Email</label>
                                    <input class="form-control" id="email" type="text" placeholder="Insira seu email">
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="nickName">Nickname</label>
                                        <input class="form-control" id="nickName" type="text" placeholder="Insira seu nick (com tag)">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="senha">Senha</label>
                                        <input class="form-control" id="senha" type="text" placeholder="Insira sua senha">
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="fName">Nome</label>
                                        <input class="form-control" id="fName" type="text" placeholder="Insira seu primeiro nome">
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="lName">Sobrenome</label>
                                        <input class="form-control" id="lName" type="text" placeholder="Insira seu sobrenome">
                                    </div>
                                </div>
                                <!-- Form Row        -->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (organization name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="role">Função</label>
                                        <select class="form-select form-select-m mb-3" id="role" aria-label=".form-select-lg example">
                                            <option selected>Função</option>
                                            <option value="Duelista">Duelista</option>
                                            <option value="Iniciador">Iniciador</option>
                                            <option value="Sentinela">Sentinela</option>
                                            <option value="Flex">Flex</option>
                                            <option value="Controlador">Controlador</option>
                                          </select>
                                    </div>
                                    <!-- Form Group (location)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="rank">Rank</label>
                                        <select class="form-select form-select-m mb-3" id="rank" aria-label=".form-select-lg example">
                                            <option selected>Rank</option>
                                            <option value="Platina">Platina</option>
                                            <option value="Diamante">Diamante</option>
                                            <option value="Ascendente">Ascendente</option>
                                            <option value="Imortal">Imortal</option>
                                            <option value="Radiante">Radiante</option>
                                          </select>
                                    </div>
                                </div>
                                <!-- Form Group (email address)-->
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="profilePic">Foto de perfil (URL)</label>
                                        <input class="form-control" id="profilePic" type="text" placeholder="http://exemplo-image.com.br/imagem.png">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="birthDate">Data de nascimento</label>
                                        <input class="form-control" id="birthDate" type="text" name="birthDate" placeholder="Maio, XX, 20XX">
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <button class="btn2" onclick="atualizaPerfil();" type="button">Salvar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer class=" text-center text-white" style="background-color:#111;">
        <div class="text-center p-3" style="background-color: #111">
          © 2022 Copyright:
          <a class="text-white" href="https://github.com/joaosfvieira">github.com/joaosfvieira</a>
        </div>
    </footer>
</body>
</html>

           