<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Agents do Brasil</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="../js/main.js"></script>
    <script src="https://kit.fontawesome.com/9a453f0dcf.js" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <header>
            <a href="./index.html" ><img src="../assets/img/logo.png" class="logo"></a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./lista-cards.html">Jogadores</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./cadastro.html">Cadastre-se</a></li>
                <li><a href="./edita-perfil.html">Editar Perfil</a></li>
            </ul>
        </header>

        <div class="container">
            <div class="cardMasc" data-tilt>
                <div class="img"></div> 
                <div class="content">
                    <h2>MISTO</h2>
                    <h3>Misto</h3>
                    <p>
                        O cenário misto de <span>Valorant</span> já é uma realidade. O calendário competitivo
                        da próxima temporada já foi anunciado e conta com mais torneios internacionais, sistema
                        de franquias e muito mais.
                    </p>
                    <a href="./lista-cards.html">Conheça os Jogadores</a>
                </div>
            </div>
            <div class="cardFem" data-tilt>
                <div class="content">
                    <h2>FEMININO</h2>
                    <h3>Feminino</h3>
                    <p>
                        O cenário feminino de <span>Valorant</span> está extremamente aquecido. Com o anúncio
                        do mundial Game Changers e diversas competições já estabelecidas as expectativas para
                        as temporadas de 2022-2023 só crescem.
                    </p>
                    <a href="./lista-cards.html">Conheça as Jogadoras</a>
                </div>
            </div>
        </div>
    </section>

    <footer class=" text-center text-white" style="background-color:#111;">
      <div class="text-center p-3" style="background-color: #111">
        © 2022 Copyright:
        <a class="text-white" href="https://github.com/joaosfvieira">github.com/joaosfvieira</a>
      </div>
    </footer>

<script type="text/javascript" src="../js/vanilla-tilt.js"></script>
</body>
</html>